hnlLastStopCellInfo = '(
                           ( "gpdk090" "pmos1v" "auCdl" "50" "1297330481" )
                          ( "gpdk090" "nmos1v" "auCdl" "50" "1297330481" )
                       )
hnlLastMaxNameLength = 60
hnlLastNamePrefix = "hnl_"
hnlLastNetNamePrefix = "N"
hnlLastInstNamePrefix = ""
hnlLastModelNamePrefix = ""
hnlLastGlobalNetPrefix = "G"
hnlLastModulePrefix = "sub"
hnlLastHierarchyDelimiter = "."
hnlLastMapNetFirstChar = '(
                            "	"
                            " "
                            "$"
                            ","
                            "/"
                            "0"
                            "1"
                            "2"
                            "3"
                            "4"
                            "5"
                            "6"
                            "7"
                            "8"
                            "9"
                            ":"
                            ";"
                            "="
                          )
hnlLastMapNetInName = '(
                            "	"
                            " "
                            "$"
                            ","
                            "/"
                            ":"
                            ";"
                            "="
                          )
hnlLastMapInstFirstChar = '(
                            "	"
                            " "
                            "$"
                            ","
                            "/"
                            "0"
                            "1"
                            "2"
                            "3"
                            "4"
                            "5"
                            "6"
                            "7"
                            "8"
                            "9"
                            ":"
                            ";"
                            "="
                          )
hnlLastMapInstInName = '(
                            "	"
                            " "
                            "$"
                            ","
                            "/"
                            ":"
                            ";"
                            "="
                          )
hnlLastInstNameDifferentFrom = '( )
hnlLastModelNameDifferentFrom = '( )
hnlLastNetNameDifferentFrom = '( )
hnlLastTermNameDifferentFrom = '( )
hnlLastParamNameDifferentFrom = '( )
hnlLastLibInfo = '(
                    ( "invert" "1676397970" )
                   ( "exor_gate" "1677008895" )
                   ( "xnor_gate" "1677010314" )
                  )
hnlLastDesignVars = '( )
